.searchHighlight {
    -rtfx-background-color: red;
    -fx-text-fill: white;
    -fx-fill: white;
}

.searchAllHighlight {
    -rtfx-background-color: #262537;
    -fx-text-fill: white;
    -fx-fill: white;
}

.paragraph-box:has-caret {
    -fx-background-color: #eee;
}


.tagmark {
    -fx-fill: gray;
}

.anytag {
    -fx-fill: crimson;
}

.anynamespace {
    -fx-fill: #A6142F;
}

.paren {
    -fx-fill: firebrick;
    -fx-font-weight: bold;
}

.attribute {
    -fx-fill: darkviolet;
}

.attributenamespace {
    -fx-fill: #7800AF;
}

.avalue {
    -fx-fill: black;
}

.comment {
    -fx-fill: teal;
}
