.tagmark {
    -fx-fill: gray;
}

.anytag {
    -fx-fill: crimson;
}

.anynamespace {
    -fx-fill: #A6142F;
}

.attribute {
    -fx-fill: darkviolet;
}

.attributenamespace {
    -fx-fill: #7800AF;
}

.avalue {
    -fx-fill: black;
}

.comment {
    -fx-fill: teal;
}
