.tagmark {
    -fx-fill: #0000FF;
}

.anytag {
    -fx-fill: #0000FF;
}

.anynamespace {
    -fx-fill: #0000FF;
}

.attribute {
    -fx-fill: #FF0000;
}

.attributenamespace {
    -fx-fill: #FF0000;
}

.avalue {
    -fx-fill: #8000FF;
}

.comment {
    -fx-fill: #008000;
}
